@model string
<form class="row g-2 mb-3" method="get">
    <div class="col-sm-6 col-md-4">
        <input class="form-control" type="search" name="q" value="@Model" placeholder="Search..." />
    </div>
    <div class="col-auto">
        <button class="btn btn-outline-secondary" type="submit">Filter</button>
    </div>
</form>
