<div class="text-center">
    <h1 class="display-4">Welcome to HealthCalendar</h1>

    <a asp-area="" asp-controller="Patient" asp-action="Login" class="btn btn-primary btn-lg mt-4">Patient Login</a>
    <a asp-area="" asp-controller="Worker" asp-action="Login" class="btn btn-primary btn-lg mt-4">Worker Login</a>
    
</div>